@import 'reset';

html {
	font-family: sans-serif;
}


// Make footer stick to the bottom of the screen:
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.footer {
	margin-top: auto;
}

p {
	line-height: 1.3em;
	margin-bottom: 30px;
}

a {
	text-decoration: underline;
	color: inherit;
}

h1, h2 {
	font-style: italic;
	font-family: serif;
}

$nav-break-point: 900px;
$hero-break-point: 800px;
$dated-item-break-point: 680px;

$black-text-color: rgb(47, 47, 48);

.nav {
	height: 70px;
	background-color: #f2bd1e;
	padding: 0 40px;
	line-height: 70px;

	box-shadow: 0 0 30px rgba(0,0,0,0.1);

	.items {
		display: flex;
		flex-direction: row;
		white-space: nowrap;

		> a {
			font-family: serif;
			display: block;
			padding: 0 10px;
			color: $black-text-color;
			font-style: italic;
			font-size: 18px;
			text-decoration: none;

			&:visited {
				color: $black-text-color;
			}
			&:hover {
				color: white;
			}
		}
	}

	.nav-icon {
		display: none;
	}

	@media screen and (max-width: $nav-break-point) {
		position: relative;

		.items {
			// Position exactly under the nav bar:
			position: absolute; 
			top: 100%;
			left: 0;
			right: 0;
			z-index: 10;
			
			//display: none; // Don't show until it's focused
			transform: translateY(-100%);
			transition: transform 0.4s;
			display: flex;
			background-color: #f2bd1e;
			flex-direction: column;
			align-items: stretch;

			line-height: 50px;
			z-index: -1;

			padding: 10px 20px;
		}

		.nav-icon {
			width: 70px;
			height: 70px;
			text-align: center;
			line-height: 70px;
			background-color: white;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 1.5em;
			cursor: pointer;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.nav-icon.open {
			display: block;
		}

		&:focus-within { // Show items when the nav bar is focused (nav bar has tabindex="-1")
			.items {
				transform: translateY(0);
			}

			.nav-icon.open {
				display: none;
			}
			.nav-icon.close {
				display: block;
			}
		}
	}
}

.hero {
	display: flex;
	flex-direction: row;
	border-bottom: 100px solid #242323;
	//height: calc(100vh - 70px);

	a {
		text-decoration: none;
	}

	@media screen and (max-width: $hero-break-point) {
		flex-direction: column-reverse;
	}
}

.hero-content {
	background-color: #f3f3f3;

	flex-grow: 1;
	
	display: flex;
	justify-content: center;
	align-items: center;

	.big-intro {
		margin: 50px 0;

		color: $black-text-color;
		font-size: calc((100vw - 330px) * 0.08);
		@media screen and (max-width: $hero-break-point) {
			font-size: calc(100vw * 0.08);
		}

		@media screen and (min-width: 1280px) {
			font-size: calc((1280px - 330px) * 0.08);
		}


		.intro1 {
			font-family: sans-serif;
			font-size: 0.4em;
		}

		.intro2 {
			font-family: serif;
			
		}

		.intro3 {
			font-family: serif;
			font-style: italic;
			font-size: 0.5em;
		}
	}
}

.hero-sidebar {
	width: 330px;
	flex-shrink: 0;

	background-color: #599b8d;
	color:  white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-align: center;

	padding: 50px 0px;

	> * {
		margin-bottom: 30px;
	}

	a {
		color: white;
	}

	p {
		line-height: 1.5em;
	}

	@media screen and (max-width: $hero-break-point) {
		width: auto;
	}
}

.portrait {
	clip-path: circle(50% at center);
}

.cv-link {
	background-color: white;
	line-height: 52px;
	padding: 0 25px;
	color: $black-text-color !important;
	font-family: sans-serif;
}

.page-section {
	padding: 50px 40px;
	color: $black-text-color;

	&.large-font {
		font-size: 21px;
		p {
			line-height: 2em;
		}		
	}

	&.color2 {
		//background-color: #beded7;
		background-color: #f3f3f3;

		h1 {
			color: $black-text-color;
		}
	}

	h1, h2 {
		color: rgb(242, 189, 30);
	}

	h1 {
		font-size: 32px;
		margin: 50px 0;
	}

	h2 {
		font-family: sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		margin: 40px 0;
	}

	.content {
		max-width: 1000px;
		margin:auto;
	}
}

.dated-item {
	display: flex;
	flex-direction: row;
	align-items: baseline;

	margin-bottom: 40px;

	.date {
		//width: 140px;
		width: var(--date-width, 140px);
		flex-shrink: 0;
		margin-bottom: 10px;
	}

	.description {
		p {
			line-height: inherit;
			margin: 0
		}
	}

	@media screen and (max-width: $dated-item-break-point) {
		flex-direction: column;

		.date {
			width: auto;
			border-bottom: 2px solid rgba(0,0,0,0.15);
		}
	}
}

.footer {
	min-height: 54px;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #599b8d;
	text-align: center;
	color: white;
}