@import 'reset';

p {
	line-height: 2em;
	font-family: sans-serif;
}

$break-point: 650px;
$black-text-color: rgb(47, 47, 48);

.nav {
	height: 70px;
	background-color: #f2bd1e;
	padding: 0 40px;
	line-height: 70px;

	box-shadow: 0 0 30px rgba(0,0,0,0.1);

	.items {
		display: flex;
		flex-direction: row;

		> a {
			display: block;
			padding: 0 10px;
			text-decoration: none;

			color: $black-text-color;
			font-style: italic;
			font-size: 18px;

			&:visited {
				color: $black-text-color;
			}
			&:hover {
				color: white;
			}
		}
	}

	.nav-icon {
		display: none;
	}

	@media screen and (max-width: $break-point) {
		position: relative;

		.items {
			// Position exactly under the nav bar:
			position: absolute; 
			top: 100%;
			left: 0;
			right: 0;
			z-index: 10;
			
			//display: none; // Don't show until it's focused
			transform: translateY(-100%);
			transition: transform 0.4s;
			display: flex;
			background-color: darken($color: #f2bd1e, $amount: 3); // TODO: Find better color
			flex-direction: column;
			align-items: stretch;

			line-height: 50px;
			z-index: -1;

			padding: 10px 20px;
		}

		.nav-icon {
			width: 70px;
			height: 70px;
			text-align: center;
			line-height: 70px;
			background-color: white;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 1.5em;
			cursor: pointer;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.nav-icon.open {
			display: block;
		}

		&:focus-within { // Show items when the nav bar is focused (nav bar has tabindex="-1")
			.items {
				transform: translateY(0);
			}

			.nav-icon.open {
				display: none;
			}
			.nav-icon.close {
				display: block;
			}
		}
	}
}

.hero {
	display: flex;
	flex-direction: row;
	border-bottom: 100px solid #242323;
	//height: calc(100vh - 70px);

	@media screen and (max-width: $break-point) {
		flex-direction: column-reverse;
	}
}

.hero-content {
	font-size: 30px;
}

.hero-sidebar {
	width: 330px;
	background-color: #599b8d;
	color:  white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 100px 0px;

	> * {
		margin-bottom: 30px;
	}

	@media screen and (max-width: $break-point) {
		width: auto;
	}
}

.portrait {
	clip-path: circle(50% at center);
}

.cv-link {
	background-color: white;
	line-height: 52px;
	padding: 0 25px;
	color: black;
}

.page-section {
	padding: 100px 40px;
	font-size: 21px;
	color: $black-text-color;

	&.color2 {
		background-color: #beded7;

		h1 {
			color: $black-text-color;
		}
	}

	h1 {
		color: rgb(242, 189, 30);
		font-size: 32px;
		margin-bottom: 40px;
		font-style: italic;
	}

	.content {
		max-width: 1000px;
		margin:auto;
	}
}

.footer {
	line-height: 54px;
	background-color: #599b8d;
	text-align: center;
	color: white;
}