<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:600|Nunito+Sans:300,600|Playfair+Display:400,400i|Poppins:300&display=swap" rel="stylesheet">
</head>
<body>
	<header class="header" style="position: relative; z-index: 10;">
		<div class="nav" tabindex="-1">
			<div class="nav-icon open">☰</div>
			<div class="nav-icon close" onclick="document.activeElement&&document.activeElement.blur()">&times;</div>
			<nav class="nav-items">
				<a class="nav-link" href="/" class="active">Home</a>
				<a class="nav-link" href="/#about">About</a>
				<a class="nav-link" href="/education.html">Education</a>
				<a class="nav-link" href="/experience.html">Experience</a>
				<a class="nav-link" href="/publications.html">Publications &amp; Presentations</a>
				<a class="nav-link" href="/skills.html">Skills &amp; Languages</a>
				<a class="nav-link" href="/other.html">Other Interests</a>
			</nav>
		</div>
	</header>

	{{ content }}

	<footer class="footer">© 2019 Maria Julia Carbajal. Last updated: May 2019</footer>
</body>
</html>
