$charcoal: #2F2F30;
$yellow: #F2BD1E;
$teal: #599B8D;
$light-gray: #F3F3F3;

$button-color: $charcoal;
$button-bg: white;
$button-active-bg: $yellow;
$button-active-color: white;

$nav-bg: $yellow;
$nav-link-color: $charcoal;
$nav-link-active-color: $charcoal;

$hero-section-border-bottom-color: $charcoal;
$hero-bg: $light-gray;
$hero-color: black;
$hero-sidebar-bg: $teal;
$hero-sidebar-color: white;

$page-section-color: $charcoal;
$page-section-heading-color: $yellow;
$page-section-bg-alt: $light-gray;
$page-section-color-alt: $charcoal;
$page-section-heading-color-alt: $charcoal;

$footer-bg: $teal;
$footer-color: white;
