<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:600|Nunito+Sans:300,600|Playfair+Display:400,400i|Montserrat:300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="nav" tabindex="-1">
		<div class='nav-hamburger'>
			<div class='nav-title'>{{ page.title }}</div>
			<div class="nav-icon open"><i class="material-icons">menu</i></div>
			<div class="nav-icon close" onclick="document.activeElement&&document.activeElement.blur()"><i class="material-icons">close</i></div>
		</div>
		<nav class="nav-items">
			<a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/" class="active">Home</a>
			<a class="nav-link" href="/#about">About</a>
			{% for link in site.nav_links %}
				<a class="nav-link {% if page.url == link.url %}active{% endif %}" href="{{ link.url }}">{{ link.title | escape }}</a>
			{% endfor %}
		</nav>
	</div>

	{{ content }}

	<footer class="footer">
		© {{ site.time | date: "%Y" }} Maria Julia Carbajal.
		Last updated {{ site.time | date_to_long_string: "ordinal" }}
	</footer>
</body>
</html>
